<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <% include login_head.ejs%>
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo"></div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form id="dataForm" action="javascript:void(0);" method="post">
        <div class="form-group has-feedback">
            <input id="nameInput" type="text" class="form-control" placeholder="Full name"
                   required="required" onblur="AC.checkUser();">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <label id="usernameLabCheck"></label>
        </div>
        <div class="form-group has-feedback">
            <input id="emailInput" type="email" class="form-control" placeholder="Email"
                   required="required"  onblur="AC.checkEmail();">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <label id="emailLabCheck"></label>
        </div>
        <div class="form-group has-feedback">
            <input id="psdInput1" type="password" class="form-control" placeholder="Password" required="required">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input id="psdInput2" type="password" class="form-control" placeholder="Retype password" required="required">
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input id="agreeCheckbox" type="checkbox"> I agree to the <a href="#">terms</a>
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button onsubmit="return false" onclick="AC.requestRegister()"
                        type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <!--<div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>-->

    <a href="/login" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<% include login_foot.ejs%>

</body>
</html>
