<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= user.name %></title>
</head>
<body>
<script src="../javascripts/lib/jquery2.1.3.min.js"></script>
<script src="../javascripts/ac.js"></script>
<div>name:<%= user.name %></div>
<div>email:<%= user.email %></div>
<div>createTime:<%= user.createTime %></div>
<div><a href="#" onclick="AC.logout();">logout</a></div>
</body>
</html>